
.page {
  background-image:url('/static/images/login-background.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  width: 100%;
  height: 2000px;
}
.container {
    display: table;
    vertical-align: middle;
}

.btn-login {
    background-color: purple;
    font-size: 24px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#login-background {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:-5000;
}


#your {
  color: orange;
}

.logo {
  height: 50px;
  width: inherit;
  position: relative;
  margin: auto;
}
#acg-logo {
  float: left;
  right: 150px;
  top: 50px;
}

#aws-logo {
  float: right;
  top: 50px;
}

.content {
  display: table-row;
  height: 100%;
}
.body {
  display: table-cell;
}

#login-body {
  color: white;
  position: relative;
  top: 200px;
  text-align: center;
  font-size: 200%
}

.enlarge {
  font-size: 325%;
}

.login-input {
  padding: 15px;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

#password-reset {
    position: relative;
    left: 180px;
    font-size: 20px;
}

#password-input {
    position: relative;
    left: 22px;
}

#nonprofit-page {
  margin: auto;
  text-align: center;
  display: table-row;
  height: 100%;
}

#aspca-logo {
  border-radius: 50%;
  border: 1px solid black;
}

#aspca-text {
  color: orange;
  font-size: 30px;
  font-weight: bold;
}

.nonprofit-header {
  color: gray;
}

.navbar-row {
  width: 300%;
  position: relative;
  right: 500px;
}

.navbar {
  background-color: black;
  background-size: cover;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin:0 auto;
}

.navbar li {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  position: relative;
  left: 300px;
}

#account-link {
  left: 350px;
}
#acg-navbar-logo {
  height: 30px;
  position: relative;
  right: 350px;
}

.welcome {
  color: white;
}

.nonprofit-body {
  background-color: white;
}

.edit {
  color: blue;
  font-size: 10px;
  position: relative;
  left: 10px;
  font-weight: bold;
}

#map {
  height: 200px;
  width: 200px;
  position: relative;
  left: 450px;
}
